@media (max-width: 767px) 
{ 
    body{
        background-image: url("img/laxpic1.jpg");
        background-size: 300px 300px;
        background-repeat: repeat;
    }

    #desktop{
        display: none;
        /* width: 60%; */
        /* min-height: 35em; */
        /* margin: auto; */
        /* margin-top: 10px; */
    }

    /* #phone{ */
        /* margin-top: 0px; */
        /* top:0px; */
    /* } */

    
        /* background-image: url("img/laxpic2.jpg"); */
        /* background-size: contain; */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
    /* } */


}


@media (min-width: 768px) { 
    body{
        background-image: url("img/laxpic1.jpg");
        background-size: 900px 900px;
        background-repeat: repeat;
    }

    #desktop{
        width: 80%;
        min-height: 65em;
        margin: auto;
        margin-top: 25px;
    }

        /* background-image: url("img/laxpic2.jpg"); */
        /* background-size: contain; */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
    /* } */
    #phone{
        display: none;
    }
} 